body {
  background: url(../img/img.5.png);
}
h1 {
  margin: 5px;
  font-size: 50px;
  color: rgb(0, 0, 0);
  text-shadow: 1px 2px 3px rgb(129, 190, 38);
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  font-weight: 600;
  text-align: center;
}
.d1 {
  margin: 40px auto;
  width: 250px;
  height: 30px;
  background: hwb(82 22% 16%);
  transform: scaleX(2);
  width: 240px;
  height: 30px;
  background-color: rgb(155, 214, 67);
  box-shadow: 2px 2px 5px rgb(251, 2, 2), 2px 2px 5px rgb(0, 0, 0);
  width: 250px;
  height: 30px;
  background: #aedd2c;
  border-radius: 10px;
}

.in1 {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  font-size: 20px;
  font-weight: 400;
  color: rgb(0, 0, 0);
  font-variant: small-caps;
}
.in2 {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  font-size: 20px;
  font-weight: 400;
  color: rgb(255, 255, 255);
  font-variant: small-caps;
}
.in3 {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  font-size: 20px;
  font-weight: 400;
  color: rgb(255, 255, 255);
  font-variant: small-caps;
}
.div2 {
  size: 50px;
}
